dihedron-webmvc/src/main/resources/org/dihedron/webmvc/domains.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2015 rel. 3 sp1 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="nonempty">
		<xs:restriction base="xs:normalizedString">
			<xs:minLength value="1"/>
			<!-- 
			<xs:pattern value=".*[^\s].*"/>
			-->
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="domain">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="pattern"/>
				<xs:element ref="stack"/>
				<xs:element ref="results" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:normalizedString" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="result">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="nonempty">
					<xs:attribute name="id" type="xs:normalizedString" use="required"/>
					<xs:attribute name="renderer" type="xs:normalizedString" use="optional" default="jsp"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="domains">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="domain" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="pattern" type="nonempty"/>
	<xs:element name="stack" type="nonempty"/>
	<xs:element name="results">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="result" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>